<nav>
    <div class="nav-wrapper red">

     <div class= "brand-logo center"><%= link_to 'Votr', root_path %></div>
     
      <ul id="nav-mobile" class="left">
        <li><%= link_to 'Home', root_path%></li>
        <li><%= link_to 'Your Profile', users_show_path %></li>
        <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
      </ul>
    </div>
</nav>