<nav>
    <div class="nav-wrapper red">
      <ul id="nav-mobile" class="left">
        <li><%= link_to 'Home', root_path%></li>
        <li><%= link_to 'Your Profile', users_show_path %></li>
      </ul>
    </div>
</nav>